<div class="container mt-3">
  <div class="col-md-6 offset-md-3">
    <div class="card">
      <div class="card-header">
        S'autentifier
      </div>
      <div class="text-danger" *ngIf="errMessage !== null && errMessage !== undefined">{{errMessage}}</div>
      <div class="card-body">
        <form [formGroup]="userFormGroup" (ngSubmit)="handleLogin()">
          <div class="mb-3">
            <label class="form-label" for="username">Nom d'utilisateur : </label>
            <input type="text" class="form-control" id="username" formControlName="username">
          </div>
          <div class="mb-3">
            <label class="form-label" for="password">Mot de passe : </label>
            <input type="password" class="form-control" id="password" formControlName="password">
          </div>
          <div>
            <button type="submit" class="btn btn-primary"> Se connecter !</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
